{
  "openapi": "3.0.0",
  "info": {
    "title": "JValleyVerse API",
    "description": "Community-driven learning platform with gamification, certification, showcase, and file upload features. Protected by rate limiting (Global 200/min, Content 60/min, Auth 10/min), anti-scraping (ScraperGuard), XSRF double-submit cookie + Origin/Referer fallback (SameSite=None, Secure=true), security headers, and idempotency keys for safe retry. Exposes Prometheus metrics at /metrics for monitoring with Grafana + Prometheus + Node Exporter.",
    "version": "1.0.0",
    "contact": {
      "name": "JValleyVerse Team"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.jvalleyverse.web.id",
      "description": "Production"
    },
    {
      "url": "http://localhost:3001",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication endpoints"
    },
    {
      "name": "Users",
      "description": "User profile management"
    },
    {
      "name": "Courses",
      "description": "Public course listing and details"
    },
    {
      "name": "Sections",
      "description": "Public section access within courses"
    },
    {
      "name": "Lessons",
      "description": "Public lesson access"
    },
    {
      "name": "Categories",
      "description": "Category list and browsing"
    },
    {
      "name": "Discussions",
      "description": "Discussion management"
    },
    {
      "name": "Replies",
      "description": "Discussion replies (nested)"
    },
    {
      "name": "Reviews",
      "description": "Course and lesson reviews"
    },
    {
      "name": "Showcases",
      "description": "User portfolio items"
    },
    {
      "name": "Gamification",
      "description": "Points, levels, leaderboard"
    },
    {
      "name": "Health",
      "description": "Server health check"
    },
    {
      "name": "Study Cases",
      "description": "Public study case browsing"
    },
    {
      "name": "Upload",
      "description": "File upload to MinIO"
    },
    {
      "name": "Notifications",
      "description": "User notification management"
    },
    {
      "name": "Enrollment",
      "description": "Course enrollment"
    },
    {
      "name": "Dashboard",
      "description": "User dashboard widgets"
    },
    {
      "name": "Admin - Study Cases",
      "description": "Admin study case management"
    },
    {
      "name": "Admin",
      "description": "Admin dashboard"
    },
    {
      "name": "Admin - Courses",
      "description": "Admin course management"
    },
    {
      "name": "Admin - Sections",
      "description": "Admin section management"
    },
    {
      "name": "Admin - Lessons",
      "description": "Admin lesson management"
    },
    {
      "name": "Admin - Categories",
      "description": "Admin category management"
    },
    {
      "name": "Admin - Users",
      "description": "Admin user management"
    },
    {
      "name": "Blogs",
      "description": "Public blog listing and details"
    },
    {
      "name": "FAQs",
      "description": "Public FAQ listing"
    },
    {
      "name": "Company",
      "description": "Company profile"
    },
    {
      "name": "Admin - Blogs",
      "description": "Admin blog management"
    },
    {
      "name": "Admin - FAQs",
      "description": "Admin FAQ management"
    },
    {
      "name": "System",
      "description": "System status and monitoring endpoints"
    },
    {
      "name": "Certificates",
      "description": "Certificate verification endpoints"
    },
    {
      "name": "Portfolio",
      "description": "User portfolio generator endpoints"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "name": {
            "type": "string",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          },
          "avatar": {
            "type": "string",
            "format": "url"
          },
          "bio": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["admin", "user"]
          },
          "level": {
            "type": "integer"
          },
          "points": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "name": {
            "type": "string",
            "example": "Web Development"
          },
          "slug": {
            "type": "string",
            "example": "web-dev"
          },
          "description": {
            "type": "string",
            "example": "Complete web development course"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CourseDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string",
            "format": "url"
          },
          "price": {
            "type": "number",
            "example": 0
          },
          "category": {
            "$ref": "#/components/schemas/CategoryBrief"
          },
          "admin_id": {
            "type": "string"
          },
          "admin_name": {
            "type": "string"
          },
          "mentors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserBrief"
            }
          },
          "hours": {
            "type": "integer"
          },
          "total_duration_hours": {
            "type": "integer"
          },
          "visibility": {
            "type": "string",
            "enum": ["public", "private"]
          },
          "is_enrolled": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "sections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SectionBrief"
            }
          }
        }
      },
      "Section": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "title": {
            "type": "string",
            "example": "Getting Started"
          },
          "description": {
            "type": "string"
          },
          "course_id": {
            "type": "string",
            "example": "abc123"
          },
          "order_index": {
            "type": "integer"
          },
          "lessons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LessonBrief"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Lesson": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "title": {
            "type": "string",
            "example": "Introduction to Go"
          },
          "slug": {
            "type": "string",
            "example": "intro-to-go"
          },
          "description": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string",
            "format": "url"
          },
          "duration": {
            "type": "integer"
          },
          "difficulty": {
            "type": "string",
            "enum": ["beginner", "intermediate", "advanced"]
          },
          "course_id": {
            "type": "string",
            "example": "abc123"
          },
          "section_id": {
            "type": "string",
            "example": "abc123"
          },
          "order_index": {
            "type": "integer"
          },
          "visibility": {
            "type": "string",
            "enum": ["public", "private"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LessonDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "lesson_id": {
            "type": "string"
          },
          "about": {
            "type": "string"
          },
          "rules": {
            "type": "string"
          },
          "tools": {
            "type": "object"
          },
          "resource_media": {
            "type": "object"
          },
          "resources": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "DiscussionDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "user_name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "view_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "replies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReplyInDiscussion"
            }
          }
        }
      },
      "Reply": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "content": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/UserBrief"
          },
          "discussion_id": {
            "type": "string"
          },
          "parent_id": {
            "type": "string"
          },
          "likes_count": {
            "type": "integer"
          },
          "is_marked_best": {
            "type": "boolean"
          },
          "child_replies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reply"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LeaderboardEntry": {
        "type": "object",
        "properties": {
          "rank": {
            "type": "integer"
          },
          "user_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": "string",
            "format": "url"
          },
          "points": {
            "type": "integer"
          },
          "level": {
            "type": "integer"
          },
          "badge": {
            "type": "string"
          }
        }
      },
      "CommunityPoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "activity_type": {
            "type": "string"
          },
          "points_earned": {
            "type": "integer"
          },
          "points_after": {
            "type": "integer"
          },
          "level_after": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserLevel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "level": {
            "type": "integer"
          },
          "min_points": {
            "type": "integer"
          },
          "max_points": {
            "type": "integer"
          },
          "badge_name": {
            "type": "string"
          },
          "badge_icon": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "LessonProgress": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "lesson_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["not_started", "started", "in_progress", "completed"]
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time"
          },
          "progress_percentage": {
            "type": "integer"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "user_id": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/UserBrief"
          },
          "course_id": {
            "type": "string"
          },
          "lesson_id": {
            "type": "string"
          },
          "rating": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          },
          "message": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "ActivityLog": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommunityPoint"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "AdminDashboard": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Welcome admin"
          }
        }
      },
      "UploadResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "url",
            "example": "https://cdn.mohagussetiaone.my.id/jvalleyverse/courses/uuid.jpg"
          },
          "object_name": {
            "type": "string",
            "example": "courses/uuid.jpg"
          },
          "size": {
            "type": "integer",
            "example": 245760
          },
          "content_type": {
            "type": "string",
            "example": "image/jpeg"
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "user_id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "new_reply"
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "is_read": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Dashboard": {
        "type": "object",
        "properties": {
          "courses_in_progress": {
            "type": "integer",
            "example": 2
          },
          "courses_completed": {
            "type": "integer",
            "example": 3
          },
          "courses_dropped": {
            "type": "integer",
            "example": 1
          },
          "unread_notifications": {
            "type": "integer",
            "example": 5
          },
          "streak_count": {
            "type": "integer",
            "example": 5
          }
        }
      },
      "SystemStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["all_operational", "partial_outage", "major_outage"]
          },
          "uptime": {
            "type": "string",
            "example": "72h15m30s"
          },
          "version": {
            "type": "string",
            "example": "1.0.0"
          },
          "environment": {
            "type": "string",
            "example": "production"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceHealth"
            }
          },
          "summary": {
            "$ref": "#/components/schemas/StatusSummary"
          }
        }
      },
      "ServiceHealth": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "database"
          },
          "status": {
            "type": "string",
            "enum": ["operational", "degraded", "down"]
          },
          "message": {
            "type": "string",
            "example": "PostgreSQL connected"
          },
          "latency": {
            "type": "string",
            "example": "2.5ms"
          }
        }
      },
      "StatusSummary": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "example": 3
          },
          "operational": {
            "type": "integer",
            "example": 3
          },
          "degraded": {
            "type": "integer",
            "example": 0
          },
          "down": {
            "type": "integer",
            "example": 0
          }
        }
      },
      "StreakResponse": {
        "type": "object",
        "properties": {
          "streak_count": {
            "type": "integer",
            "example": 5
          },
          "longest_streak": {
            "type": "integer",
            "example": 12
          },
          "last_activity_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PortfolioResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/UserBrief"
          },
          "total_points": {
            "type": "integer",
            "example": 850
          },
          "level": {
            "type": "integer",
            "example": 3
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PortfolioItem"
            }
          },
          "cert_count": {
            "type": "integer",
            "example": 5
          },
          "showcase_count": {
            "type": "integer",
            "example": 3
          },
          "study_case_count": {
            "type": "integer",
            "example": 2
          }
        }
      },
      "PortfolioItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["certificate", "showcase", "study_case"]
          },
          "url": {
            "type": "string",
            "format": "url"
          },
          "image_url": {
            "type": "string",
            "format": "url"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CertificateVerification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "unique_code": {
            "type": "string",
            "example": "CERT-abc12345"
          },
          "issued_at": {
            "type": "string",
            "format": "date-time"
          },
          "user_id": {
            "type": "string"
          },
          "lesson_id": {
            "type": "string"
          },
          "lesson_name": {
            "type": "string"
          },
          "user_name": {
            "type": "string"
          },
          "verification_url": {
            "type": "string",
            "format": "url"
          },
          "qr_code_url": {
            "type": "string",
            "format": "url"
          },
          "achievement": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "certificate"
              },
              "title": {
                "type": "string"
              },
              "unique_code": {
                "type": "string"
              }
            }
          }
        }
      },
      "UserBrief": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": "string",
            "format": "url"
          },
          "role": {
            "type": "string",
            "enum": ["admin", "user", "mentor"]
          }
        }
      },
      "CategoryBrief": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "name": {
            "type": "string",
            "example": "Web Development"
          },
          "slug": {
            "type": "string",
            "example": "web-dev"
          }
        }
      },
      "CourseListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "title": {
            "type": "string",
            "example": "Learn Go"
          },
          "description": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string",
            "format": "url"
          },
          "price": {
            "type": "number",
            "example": 0
          },
          "category": {
            "$ref": "#/components/schemas/CategoryBrief"
          },
          "admin_name": {
            "type": "string"
          },
          "mentors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserBrief"
            }
          },
          "hours": {
            "type": "integer"
          },
          "visibility": {
            "type": "string",
            "enum": ["public", "private"]
          },
          "section_count": {
            "type": "integer"
          },
          "is_enrolled": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LessonBrief": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "title": {
            "type": "string",
            "example": "Introduction to Go"
          },
          "slug": {
            "type": "string",
            "example": "intro-to-go"
          },
          "difficulty": {
            "type": "string",
            "enum": ["beginner", "intermediate", "advanced"]
          },
          "duration": {
            "type": "integer"
          },
          "order_index": {
            "type": "integer"
          },
          "video_url": {
            "type": "string",
            "format": "url"
          }
        }
      },
      "SectionBrief": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "order_index": {
            "type": "integer"
          },
          "lessons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LessonBrief"
            }
          }
        }
      },
      "SectionDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "course_id": {
            "type": "string"
          },
          "order_index": {
            "type": "integer"
          },
          "lessons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LessonBrief"
            }
          }
        }
      },
      "DiscussionListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "user_name": {
            "type": "string"
          },
          "lesson_id": {
            "type": "string"
          },
          "study_case_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["open", "closed"]
          },
          "view_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReplyInDiscussion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "content": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "user_name": {
            "type": "string"
          },
          "likes": {
            "type": "integer"
          },
          "is_best": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReplyListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "content": {
            "type": "string"
          },
          "discussion_id": {
            "type": "string"
          },
          "discussion_title": {
            "type": "string"
          },
          "parent_id": {
            "type": "string"
          },
          "likes_count": {
            "type": "integer"
          },
          "is_marked_best": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ShowcaseListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "media_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "url"
            }
          },
          "likes_count": {
            "type": "integer"
          },
          "views_count": {
            "type": "integer"
          },
          "visibility": {
            "type": "string",
            "enum": ["public", "private"]
          },
          "user": {
            "$ref": "#/components/schemas/UserBrief"
          },
          "category": {
            "$ref": "#/components/schemas/CategoryBrief"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ShowcaseDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "media_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "url"
            }
          },
          "likes_count": {
            "type": "integer"
          },
          "views_count": {
            "type": "integer"
          },
          "user": {
            "$ref": "#/components/schemas/UserBrief"
          },
          "category": {
            "$ref": "#/components/schemas/CategoryBrief"
          },
          "is_liked_by_me": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CertificateItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "unique_code": {
            "type": "string"
          },
          "issued_at": {
            "type": "string",
            "format": "date-time"
          },
          "user_id": {
            "type": "string"
          },
          "lesson_id": {
            "type": "string"
          },
          "lesson_name": {
            "type": "string"
          },
          "user_name": {
            "type": "string"
          },
          "verification_url": {
            "type": "string",
            "format": "url",
            "example": "https://jvalleyverse.com/certificates/verify/CERT-abc123"
          },
          "qr_code_url": {
            "type": "string",
            "format": "url",
            "example": "https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=..."
          },
          "achievement": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "certificate"
              },
              "title": {
                "type": "string"
              },
              "unique_code": {
                "type": "string"
              }
            }
          }
        }
      },
      "StudyCaseListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "name": {
            "type": "string",
            "example": "Belajar Go Basic"
          },
          "description": {
            "type": "string"
          },
          "img_url": {
            "type": "string",
            "format": "url"
          },
          "youtube_url": {
            "type": "string",
            "format": "url"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["golang", "beginner"]
          },
          "user": {
            "$ref": "#/components/schemas/UserBrief"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "StudyCaseDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "img_url": {
            "type": "string",
            "format": "url"
          },
          "youtube_url": {
            "type": "string",
            "format": "url"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "user": {
            "$ref": "#/components/schemas/UserBrief"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "discussions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiscussionBrief"
            }
          }
        }
      },
      "DiscussionBrief": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "user_name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "views_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EnrolledCourseItem": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/CourseListItem"
          },
          {
            "type": "object",
            "properties": {
              "enrolled_at": {
                "type": "string",
                "format": "date-time"
              },
              "last_lesson_id": {
                "type": "string"
              }
            }
          }
        ]
      },
      "ReviewItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "user_name": {
            "type": "string"
          },
          "user_avatar": {
            "type": "string",
            "format": "url"
          },
          "course_id": {
            "type": "string"
          },
          "lesson_id": {
            "type": "string"
          },
          "rating": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          },
          "message": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BlogListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "cover_img_url": {
            "type": "string",
            "format": "url"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/UserBrief"
          },
          "category": {
            "$ref": "#/components/schemas/CategoryBrief"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BlogDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "cover_img_url": {
            "type": "string",
            "format": "url"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/UserBrief"
          },
          "category": {
            "$ref": "#/components/schemas/CategoryBrief"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FAQItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "abc123"
          },
          "question": {
            "type": "string"
          },
          "answer": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "order_index": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "/api/auth/google": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Google One Tap Login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["credential"],
                "properties": {
                  "credential": {
                    "type": "string",
                    "description": "Google ID token from One Tap"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Google token"
          }
        }
      }
    },
    "/api/faqs": {
      "get": {
        "tags": ["FAQs"],
        "summary": "List active FAQs (public)",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Active FAQs list with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FAQItem"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/blogs": {
      "get": {
        "tags": ["Blogs"],
        "summary": "List published blogs",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blog posts list with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlogListItem"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/blogs/{id}": {
      "get": {
        "tags": ["Blogs"],
        "summary": "Get blog detail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blog detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogDetail"
                }
              }
            }
          },
          "404": {
            "description": "Blog not found"
          }
        }
      }
    },
    "/api/company": {
      "get": {
        "tags": ["Company"],
        "summary": "Get company profile",
        "responses": {
          "200": {
            "description": "Company profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "logo_url": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/me/change-password": {
      "post": {
        "tags": ["Users"],
        "summary": "Change current user password",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["current_password", "new_password"],
                "properties": {
                  "current_password": {
                    "type": "string"
                  },
                  "new_password": {
                    "type": "string",
                    "minLength": 6
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed successfully"
          },
          "400": {
            "description": "Invalid current password"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/users/me/avatar": {
      "post": {
        "tags": ["Users"],
        "summary": "Update profile picture (multipart upload)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "avatar": {
                    "type": "string",
                    "format": "binary",
                    "description": "Avatar image file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Avatar updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "url"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/admin/company": {
      "put": {
        "tags": ["Admin"],
        "summary": "Update company profile (Admin only)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "logo_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company profile updated"
          },
          "403": {
            "description": "Forbidden - Admin only"
          }
        }
      }
    },
    "/api/admin/faqs": {
      "get": {
        "tags": ["Admin - FAQs"],
        "summary": "List all FAQs (Admin only)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All FAQs list with pagination"
          },
          "403": {
            "description": "Forbidden - Admin only"
          }
        }
      },
      "post": {
        "tags": ["Admin - FAQs"],
        "summary": "Create FAQ (Admin only)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["question", "answer"],
                "properties": {
                  "question": {
                    "type": "string"
                  },
                  "answer": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "order_index": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "FAQ created"
          },
          "403": {
            "description": "Forbidden - Admin only"
          }
        }
      }
    },
    "/api/admin/faqs/{id}": {
      "get": {
        "tags": ["Admin - FAQs"],
        "summary": "Get single FAQ (Admin only)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "FAQ details"
          },
          "404": {
            "description": "FAQ not found"
          }
        }
      },
      "put": {
        "tags": ["Admin - FAQs"],
        "summary": "Update FAQ (Admin only)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "question": {
                    "type": "string"
                  },
                  "answer": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "order_index": {
                    "type": "integer"
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "FAQ updated"
          },
          "403": {
            "description": "Forbidden - Admin only"
          },
          "404": {
            "description": "FAQ not found"
          }
        }
      },
      "delete": {
        "tags": ["Admin - FAQs"],
        "summary": "Delete FAQ (Admin only)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "FAQ deleted"
          },
          "403": {
            "description": "Forbidden - Admin only"
          },
          "404": {
            "description": "FAQ not found"
          }
        }
      }
    },
    "/api/admin/blogs": {
      "get": {
        "tags": ["Admin - Blogs"],
        "summary": "List all blogs (Admin only)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All blogs list with pagination"
          },
          "403": {
            "description": "Forbidden - Admin only"
          }
        }
      },
      "post": {
        "tags": ["Admin - Blogs"],
        "summary": "Create blog (Admin only)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title"],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "cover_img_url": {
                    "type": "string"
                  },
                  "category_id": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": ["draft", "published"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Blog created"
          },
          "403": {
            "description": "Forbidden - Admin only"
          }
        }
      }
    },
    "/api/admin/blogs/{id}": {
      "put": {
        "tags": ["Admin - Blogs"],
        "summary": "Update blog (Admin only)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "cover_img_url": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": ["draft", "published"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blog updated"
          },
          "403": {
            "description": "Forbidden - Admin only"
          },
          "404": {
            "description": "Blog not found"
          }
        }
      },
      "delete": {
        "tags": ["Admin - Blogs"],
        "summary": "Delete blog (Admin only)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blog deleted"
          },
          "403": {
            "description": "Forbidden - Admin only"
          },
          "404": {
            "description": "Blog not found"
          }
        }
      }
    }
  },
  "paths": {
    "/api/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Register new user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "email", "password"],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 6,
                    "example": "password123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "409": {
            "description": "Email already exists"
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Login user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "admin@jvalleyverse.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "Admin@123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Refresh access token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["refresh_token"],
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "refresh_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid refresh token"
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Logout user",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Logged out successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "tags": ["Health"],
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Server is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/system/status": {
      "get": {
        "tags": ["Health", "System"],
        "summary": "System operational status (public)",
        "description": "Returns real-time status of all system dependencies (Database, Redis, MinIO). No auth required. Frontend can auto-refresh every 30s to display operational dashboard.",
        "responses": {
          "200": {
            "description": "System status with per-service health checks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/health/detailed": {
      "get": {
        "tags": ["Health"],
        "summary": "Detailed health check with system metrics",
        "responses": {
          "200": {
            "description": "Detailed server health",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "environment": {
                      "type": "string"
                    },
                    "hostname": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "version": {
                      "type": "string"
                    },
                    "system": {
                      "type": "object",
                      "properties": {
                        "os": {
                          "type": "string"
                        },
                        "arch": {
                          "type": "string"
                        }
                      }
                    },
                    "memory": {
                      "type": "object",
                      "properties": {
                        "allocated_mb": {
                          "type": "number"
                        },
                        "total_allocated_mb": {
                          "type": "number"
                        },
                        "system_mb": {
                          "type": "number"
                        },
                        "num_gc": {
                          "type": "integer"
                        }
                      }
                    },
                    "goroutines": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/leaderboard": {
      "get": {
        "tags": ["Gamification"],
        "summary": "Get top users by points",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LeaderboardEntry"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/categories": {
      "get": {
        "tags": ["Categories"],
        "summary": "List all categories",
        "responses": {
          "200": {
            "description": "List of categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/categories/{slug}": {
      "get": {
        "tags": ["Categories"],
        "summary": "Get category by slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "web-dev"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "404": {
            "description": "Category not found"
          }
        }
      }
    },
    "/api/categories/{category_id}/courses": {
      "get": {
        "tags": ["Categories"],
        "summary": "List courses in a category",
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Courses in category",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CourseListItem"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Category not found"
          }
        }
      }
    },
    "/api/courses": {
      "get": {
        "tags": ["Courses"],
        "summary": "List public courses",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "description": "Filter by category ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "description": "Minimum price filter",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "description": "Maximum price filter",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of public courses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CourseListItem"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/courses/{course_id}": {
      "get": {
        "tags": ["Courses"],
        "summary": "Get course with sections and lessons",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Course details with sections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseDetail"
                }
              }
            }
          },
          "404": {
            "description": "Course not found"
          }
        }
      }
    },
    "/api/courses/{course_id}/sections": {
      "get": {
        "tags": ["Sections"],
        "summary": "List sections in a course",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SectionDetail"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Course not found"
          }
        }
      }
    },
    "/api/courses/{course_id}/sections/{section_id}": {
      "get": {
        "tags": ["Sections"],
        "summary": "Get section with lessons",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "section_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Section details with lessons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectionDetail"
                }
              }
            }
          },
          "404": {
            "description": "Section not found"
          }
        }
      }
    },
    "/api/courses/{course_id}/lessons": {
      "get": {
        "tags": ["Lessons"],
        "summary": "List lessons in a course",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "description": "Filter by category ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lessons list with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LessonBrief"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Course not found"
          }
        }
      }
    },
    "/api/courses/{course_id}/sections/{section_id}/lessons": {
      "get": {
        "tags": ["Lessons"],
        "summary": "List lessons in a section",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "section_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lessons in section",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LessonBrief"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Section not found"
          }
        }
      }
    },
    "/api/courses/{course_id}/lessons/{slug}": {
      "get": {
        "tags": ["Lessons"],
        "summary": "Get lesson by course and slug",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "intro-to-go"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lesson details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lesson": {
                      "$ref": "#/components/schemas/LessonBrief"
                    },
                    "details": {
                      "$ref": "#/components/schemas/LessonDetail"
                    },
                    "progress": {
                      "$ref": "#/components/schemas/LessonProgress"
                    },
                    "next_lesson": {
                      "$ref": "#/components/schemas/LessonBrief"
                    },
                    "section": {
                      "$ref": "#/components/schemas/SectionBrief"
                    },
                    "course": {
                      "$ref": "#/components/schemas/CourseListItem"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Lesson not found"
          }
        }
      }
    },
    "/api/lessons/{id}": {
      "get": {
        "tags": ["Lessons"],
        "summary": "Get public lesson by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lesson details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lesson": {
                      "$ref": "#/components/schemas/LessonBrief"
                    },
                    "details": {
                      "$ref": "#/components/schemas/LessonDetail"
                    },
                    "progress": {
                      "$ref": "#/components/schemas/LessonProgress"
                    },
                    "next_lesson": {
                      "$ref": "#/components/schemas/LessonBrief"
                    },
                    "section": {
                      "$ref": "#/components/schemas/SectionBrief"
                    },
                    "course": {
                      "$ref": "#/components/schemas/CourseListItem"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Lesson not found"
          }
        }
      }
    },
    "/api/showcases": {
      "get": {
        "tags": ["Showcases"],
        "summary": "List showcases",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "description": "Filter by category ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["newest", "trending", "most_liked"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated showcases list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ShowcaseListItem"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Showcases"],
        "summary": "Create showcase",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "category_id"],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "media_urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "url"
                    }
                  },
                  "category_id": {
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": ["public", "private"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Showcase created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/showcases/{id}": {
      "get": {
        "tags": ["Showcases"],
        "summary": "Get showcase details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Showcase details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowcaseDetail"
                }
              }
            }
          },
          "404": {
            "description": "Showcase not found"
          }
        }
      },
      "put": {
        "tags": ["Showcases"],
        "summary": "Update showcase (owner only)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Showcase updated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "tags": ["Showcases"],
        "summary": "Delete showcase",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Showcase deleted"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/api/showcases/{id}/like": {
      "post": {
        "tags": ["Showcases"],
        "summary": "Like showcase",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Showcase liked"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": ["Showcases"],
        "summary": "Unlike showcase",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Like removed"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/discussions": {
      "get": {
        "tags": ["Discussions"],
        "summary": "List discussions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "description": "Filter by category ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lesson_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["newest", "oldest", "most_replies"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Discussions list with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DiscussionListItem"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Discussions"],
        "summary": "Create discussion",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "content", "category_id"],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "lesson_id": {
                    "type": "string"
                  },
                  "category_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Discussion created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/discussions/{id}": {
      "get": {
        "tags": ["Discussions"],
        "summary": "Get discussion with replies",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Discussion details with threaded replies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionDetail"
                }
              }
            }
          },
          "404": {
            "description": "Discussion not found"
          }
        }
      },
      "put": {
        "tags": ["Discussions"],
        "summary": "Update discussion (owner only)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discussion updated"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "tags": ["Discussions"],
        "summary": "Delete discussion",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Discussion deleted"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/discussions/{id}/close": {
      "post": {
        "tags": ["Discussions"],
        "summary": "Close discussion (owner only)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Discussion closed"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Discussion not found"
          }
        }
      }
    },
    "/api/discussions/{id}/replies": {
      "post": {
        "tags": ["Replies"],
        "summary": "Reply to discussion",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "content": {
                    "type": "string"
                  },
                  "parent_id": {
                    "type": "string",
                    "description": "Parent reply ID for nested replies"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reply created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/replies/{id}": {
      "put": {
        "tags": ["Replies"],
        "summary": "Update reply",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "content": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reply updated"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Reply not found"
          }
        }
      },
      "delete": {
        "tags": ["Replies"],
        "summary": "Delete reply",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Reply deleted"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Reply not found"
          }
        }
      }
    },
    "/api/replies/{id}/like": {
      "post": {
        "tags": ["Replies"],
        "summary": "Like reply",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reply liked"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/replies/{id}/best": {
      "post": {
        "tags": ["Replies"],
        "summary": "Mark reply as best answer",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reply marked as best"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Reply not found"
          }
        }
      }
    },
    "/api/levels": {
      "get": {
        "tags": ["Gamification"],
        "summary": "Get level progression info",
        "responses": {
          "200": {
            "description": "Level information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserLevel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/me": {
      "get": {
        "tags": ["Users"],
        "summary": "Get current user profile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": ["Users"],
        "summary": "Update user profile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "bio": {
                    "type": "string"
                  },
                  "avatar": {
                    "type": "string",
                    "format": "url"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/users/me/streak": {
      "get": {
        "tags": ["Users"],
        "summary": "Get my learning streak",
        "description": "Returns current learning streak count, longest streak, and last activity date. Streak auto-tracks when user completes lessons.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Learning streak info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreakResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/users/{id}/portfolio": {
      "get": {
        "tags": ["Portfolio", "Users"],
        "summary": "Get user portfolio (public)",
        "description": "Aggregates certificates, showcases, and study cases for a user into a shareable portfolio page. No auth required.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User portfolio with aggregated items",
            "content": {
              "application/json": {
                "schema": {
[...]
